<a href="https://colab.research.google.com/github/LeoBKChen/DL2020/blob/master/NO20200305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!/usr/bin/python3
 
print("Hello, World!")

Hello, World!

In [1]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:leo
Hello, leo

In [5]:
a = input("請輸入：")
print(a)
type(a)

請輸入：100
100

str

In [8]:
a = input("請輸入：")
a
b=int(a)+1
b

請輸入：100

101

In [9]:
a = eval(input("請輸入："))
a
b=a+1
b

請輸入：100

101

In [10]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：12,15

(12, 15)

In [21]:
# -*- coding: utf-8 -*-
"""Python_2_2_string.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/github/MyDearGreatTeacher/HappyPythonDay/blob/master/Python_2_2_string.ipynb

# string字串 資料型態(data type) 及其運算

## 字串

Python 字串資料型態 (str) 

變數值以一對雙引號 (「"」)或單引號 (「'」)
"""

str1 = '這是字串'
print(str1)

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

"""## 存取字串中的值: 使用方括號"""

#!/usr/bin/python
 
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

"""## 字串的更新"""

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

"""## 字串的加法運算"""

str4=str1 + str2
print(str4)

"""##  更多練習"""

a='  Hello   '
b='  Python ! '

a+b

a*2

a[1:4]

"H" in a

"H" not in a

"""# 字串反轉

Reverse string in Python (5 different ways)

https://www.geeksforgeeks.org/reverse-string-python-5-different-ways/
"""

def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
#s = "HappyHackingDay"
s = "BreakAllCTF{HappyHackingDay}"

print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

"""#   Python内建的字串函数(Built-in String Methods)

底下以幾個常見的示範

更多的練習請參考底下

https://www.tutorialspoint.com/python/python_strings.htm
"""

str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize())

mystr = 'python'
str4.find(mystr, 0)

print(str4.encode(encoding='base64'))

"""## isalpha() 方法檢測字串是否只由字母組成"""

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalpha())

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python"
print(str.isalpha())

##  isalnum():檢測字串是否由字母和數位組成。

這是字串
這也是字串
allows embedded "double" quotes
var1[0]:  H
var1[1:8]:  ello Py
更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!
Hello World!這也是字串
The original string  is : BreakAllCTF{HappyHackingDay}
The reversed string(using recursion) is : }yaDgnikcaHyppaH{FTCllAkaerB
Happy python day    oh!

LookupError: ignored

In [20]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [22]:
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

In [26]:

list1 = [21, 33, 14, 12, 32,98]

print(list1[1])
print(len(list1))
print(max(list1))
print(min(list1))
print(sum(list1))

33
6
98
12
210

In [27]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
 
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [30]:
-3%2

1

In [31]:
a = 7//2
b = 7.0//2
c = 7//2.0

a,b,c

(3, 3.0, 3.0)

In [32]:
5 ** 2

25

In [33]:
x = 5

print(x > 3 and x < 10)

True

In [34]:
x = 5

print(x > 3 or x < 4)

True

In [35]:
x = 5

print(not(x > 3 and x < 10))

False

In [36]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

0 - a =  60 = 0011 1100(二進位)
0 - b =  13 = 0000 1101(二進位)
1 - c = a & b的值為： 12
2 - c = a | b的值為： 61
3 - c= a ^ b 的值為： 49
4 - c = ~a的值為： -61
5 - c = a << 2的值為： 240
6 - c = a >> 2的值為： 15

In [37]:
x = bin(36)
print(x)

x = oct(36)
print(x)

x = hex(255)
print(x)

0b100100
0o44
0xff

In [38]:
x=int('10',2)
print(x)

x=int('10',16)
print(x)

x=int('10',8)
print(x)

2
16
8

In [39]:
#Round a number to only two decimals:

x = round(5.76543, 2)
print(x)

# Round to the nearest integer:

x = round(5.76543)
print(x)

5.77
6

In [40]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

In [41]:
import time  # 使用python標準函數庫的time模組{處理時間的函數}

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=5, tm_hour=6, tm_min=30, tm_sec=30, tm_wday=3, tm_yday=65, tm_isdst=0)

In [42]:
import time

date = time.localtime()		#取得目前的日期時間
year = date[0]
month = date[1]
day = date[2]

day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	#判斷是否為閏年
  day_month[1] = 29

if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

65

In [45]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	#判斷是否為閏年
  day_month[1] = 29

if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

請輸入年月日2020,3,5
65

In [47]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：111111
88888.8 元

In [2]:
list1=range(10)
print(list1)

print(list(list1))

list1=range(-4,5)
print(list(list1))

for x in range(19):
  print(x)

for x in range(0,19,2):
  print(x)

for x in range(20,11,-1):
  print(x)

for x in range(0,19,-1):
  print(x)

output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

output = ''

for x in range(0,19,3):
  print(x, end=" ")

list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4]
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
0
2
4
6
8
10
12
14
16
18
20
19
18
17
16
15
14
13
12
0 03 036 0369 036912 03691215 0369121518 0 3 6 9 12 15 18 0 3 6 9 12 15 18

In [3]:

for n in range(5):
  print(n)

for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

mysum = 0

for n in range(5):
  mysum += n

print(mysum)

x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

#print(mysum)

0
1
2
3
4
0@1@2@3@4@5@6@7@8@9@0
1
3
6
10
10
請輸入一個正整數:15
105

In [6]:
#如果第五行改成  if (number % 2 = 0):

#答案又會是甚麼??

numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 = 0): 
    my_numbers.append(number)

print(my_numbers)

SyntaxError: ignored

In [7]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [9]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:60000
6000.0
6000.0

In [10]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：6
6!=720

In [14]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

    if (fruit==""):
       break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：香蕉
香蕉 在串列中的第 1 項
請輸入喜歡的水果(Enter 結束)：